@use 'sass:color';
@use 'sass:meta';

.mycarousel {
  & {
    @apply flex flex-col w-full h-full;
  }

  span.visually-hidden {
    display: none;
  }

  .carousel-indicators {
    position: relative;
    display: none;

    button {
      background-color: var(--color-primary);
    }
  }

  .carousel-inner {
    @apply w-full h-full top-0 bottom-0;
    @apply overflow-visible;

    .carousel-item {
      & {
        @apply top-0 bottom-0 w-full h-full p-2;

        &.active {
          .picsum-img-wrapper {
            @apply opacity-100;
          }
        }
      }

      .mygrid {
        @apply grid h-full w-full;
        grid-template-rows: 1fr auto;
        grid-template-areas:
          'image'
          'caption';
        background: none;
        border-radius: 8px;

        .picsum-img-wrapper {
          grid-area: image;
          @apply relative flex justify-center items-center overflow-hidden;

          img {
            @apply h-full object-contain;
            @apply rounded-sm shadow-sm;
          }
        }

        .carousel-caption {
          grid-area: caption;
          background: none;
          @apply relative text-center z-[1000] right-0 left-0 bottom-0 pb-1 pt-2 text-primary;
        }
      }
    }
  }
}
