@import 'tailwindcss';
@import '../../../styles/theme.css';

h2,
h2 span {
  @apply text-primary dark:text-dark-primary;
}

p,
p span {
  @apply text-content dark:text-dark-content;
}

.portfolio-items {
  @apply grid grid-cols-3 items-baseline gap-3;

  .portfolio-item {
    & {
      cursor: pointer;
      @apply relative flex;
      @apply items-center justify-center text-center align-middle;
    }

    &:hover {
      img {
        border: 1px solid var(--color-bkg);
      }
    }

    &.placeholder {
      background: none;
      opacity: 0.25;
      border: 1px solid var(--color-primary);
    }

    img {
      @apply m-0;
    }
  }
}

.portfolio-attachments {
  @apply flex flex-col items-center justify-center text-center;

  .attachment {
    @apply flex;
  }
}
