@use 'sass:color';
// https://sass-lang.com/documentation/modules/color/
/**
color.adjust($color,
  $red: null, $green: null, $blue: null,
  $hue: null, $saturation: null, $lightness: null,
  $whiteness: null, $blackness: null,
  $alpha: null)
 */

//a.cta {
//  display: inline-block;
//  padding: 0.5625rem 2.0625rem;
//  justify-content: center;
//  align-items: center;
//  gap: 1.5rem;
//  position: relative;
//
//  border-radius: 0.25rem;
//  background: var(--color-accent);
//  text-decoration: none;
//  color: var(--color-white);
//  border:1px solid var(--color-accent);
//
//  &:before,
//  &:after {
//    border: 0 solid transparent;
//    transition: all 0.25s;
//    content: '';
//    height: 24px;
//    position: absolute;
//    width: 24px;
//    opacity: 0;
//  }
//  &:before {
//    border-top: 2px solid color.adjust($sun, $lightness: 10%);
//    left: 0px;
//    top: -5px;
//  }
//  &:after {
//    border-bottom: 2px solid color.adjust($sun, $lightness: 10%);
//    bottom: -5px;
//    right: 0px;
//  }
//
//  &:hover {
//    background: color.adjust($sun, $lightness: 10%);
//    border:1px solid var(--color-bkg);
//  }
//  &:hover:before,
//  &:hover:after {
//    height: 100%;
//    width: 100%;
//    opacity: 1;
//  }
//}
