.grid {
  & {
    display: grid;
    margin: 0 auto;
    @apply grid-cols-[1%_1fr_1fr_1fr_1%] sm:grid-cols-[12px_1fr_1fr_1fr_12px] lg:grid-cols-[10%_1fr_1fr_1fr_10%] xl:grid-cols-[3%_1fr_1fr_1fr_3%];

    grid-template-rows: 2px 100px auto auto;
    height: 100vh;
    grid-template-areas:
      'loader loader loader loader loader'
      '. header header header .'
      '. content content content .'
      '. footer footer footer .';
  }

  .grid-child {
    display: grid;
  }
}

.grid-loader {
  grid-column: 1;
  grid-row: 1;
  grid-area: loader;
}

.grid-header {
  grid-column: -1;
  grid-row: 2;
  grid-area: header;
  align-content: start;
  align-items: stretch;
}

.grid-content {
  & {
    display: grid;
    flex-grow: 1;
    grid-column: -1;
    grid-row: 2 / 5;
    grid-area: content;

    align-content: start;
    align-items: stretch;

    padding-bottom: 3rem;
  }
}

.grid-footer {
  grid-column: -1;
  grid-area: footer;
  @apply text-center;

  align-content: center;
  align-items: stretch;
}
