.portfolio-items {
  @apply grid items-start gap-7 md:grid-cols-2 xl:grid-cols-3;

  a.portfolio-item {
    & {
      cursor: pointer;
      @apply flex h-full grow;
      @apply block overflow-hidden rounded-tr-2xl;
      @apply border-bkg hover:border-primary border-2;
      @apply p-3 shadow;
      backdrop-filter: blur(3px);
      @apply no-underline;
    }

    figure {
      & {
        margin: 0;
        padding: 0;
      }

      .item-body {
        @apply relative block h-64;

        img {
          object-fit: cover;
          margin: 0;
          padding: 0;
        }
      }

      figcaption {
        @apply px-3;
      }
    }
  }
}

.portfolio-attachments {
  @apply flex flex-col items-center justify-center text-center;

  .attachment {
    @apply flex;
  }
}
