@use 'sass:meta';
@use 'sass:color';

@use '../../../styles/variables';
@use '../../../styles/mixins' as *;
@use '../../../styles/layout';

@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

footer.footer {
  & {
    @apply grid gap-6 lg:grid-cols-3 w-full;

    grid-template-columns: 1fr;
    grid-template-areas: 'social';
    color: var(--color-content);
    padding: 0 1rem;
    margin-bottom: 8rem;

    @include media-max('tablet-down') {
      grid-template-columns: 1fr;

      grid-template-areas: 'social';
    }
  }

  a {
    //color: var(--color-content);
    cursor: pointer;
    border-bottom: 1px solid var(--color-bkg);

    &:hover {
      border-bottom: 1px solid var(--color-accent);
      color: var(--color-accent);
    }
  }
}

//ul li {
//  line-height: 2em;
//  display: inline;
//  margin: 0;
//  @apply mx-6 md:ml-0 md:mr-12;
//}

.footer-grid-item {
  @apply grid w-full min-h-[2rem];
}

.footer-grid-item.footer-social {
  @apply flex flex-col;
  @apply place-items-center text-center;
  background: transparent;

  ul {
    @apply flex m-0 p-0;
  }

  ul li {
    @apply m-0 p-0;
  }

  ul li a {
    @apply p-4;
    &:hover {
      color: var(--color-accent) !important;
    }
  }
}

//.footer-grid-item.footer-links {
//  @apply grid;
//  @apply place-items-center md:items-end;
//
//  grid-column: 1;
//  grid-row: 1;
//  grid-area: links;
//}
//
//.footer-grid-item.footer-imprint {
//  @apply grid;
//  @apply place-items-center md:place-items-end md:items-end;
//
//  grid-column: 1;
//  grid-row: 1;
//  grid-area: imprint;
//}
