section.main.search {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    'title'
    'content';

  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 120px;
    padding-top: 60px;
    grid-area: title;
  }

  .content {
    text-align: center;
    grid-area: content;
  }
}
