<main class="@container">
  <!--<section class="second about text-left">
      <article class="presentation">
        <div class="pt-6 pb-0">
          <h3>
            <span i18n
              >With 18 years of experience serving clients and partners from small and large companies, both
              independently and as part of a team. <i>How can I assist you?</i></span
            >
          </h3>
        </div>
      </article>
    </section>-->

  <article class="prose lg:prose-xl dark:prose-invert my-8">
    <header i18n class="mb-2">
      <h1>They called me <em>Jack</em></h1>
    </header>

    <main>
      <p>
        During <a href="/career"><b>+18 years of experience</b></a
        >, teams I’ve joined often described me as a <em>Swiss Knife</em> aka <em>Jacks of all trades</em>: I jump from
        <b>crafting logos</b> to <b>webdesign</b>, to <b>animating 3D stuff</b>.<br />Above all, I am passionate about
        <b>web app development</b> and <b>cloud hosting</b>.
      </p>
      <p><small> </small></p>
      <blockquote>
        <!-- <fa-duotone-icon [icon]="['fasds', 'star-christmas']"></fa-duotone-icon> -->
        My favourites?<br />
        <!-- <fa-duotone-icon [icon]="['fasds', 'laptop-code']"></fa-duotone-icon> -->
        Symfony, Angular, Ansible, Kubernetes, MongoDb, Meilisearch, ThreeJS
      </blockquote>
    </main>

    <footer>
      <p>
        <em>Take care</em>,<br />
        Gilles HOARAU<br />
        <!-- <fa-duotone-icon [icon]="['fasds', 'hand-wave']" [fixedWidth]="true"></fa-duotone-icon> -->
        &nbsp;
        <a href="mailto:hello@gilles.dev">hello&#64;gilles.dev</a>
      </p>

      <p>
        <small
          >PS: you might like one of my open source projects on
          <a href="https://github.com/unicolored">Github/unicolored</a>.</small
        >
      </p>
    </footer>
  </article>
</main>
