<main class="@container">
  <article class="prose lg:prose-xl dark:prose-invert my-8">
    <header i18n class="mb-2">
      <h1><b>I'm Gilles.</b> Developer</h1>
    </header>

    <main>
      <p>
        For you, I can <b>quick start a proof of concept</b> in hours, then transform it to a <b>robust project</b> in
        days. Give me minutes to <b>deploy in the clouds</b>.
      </p>
      <ul>
        <li>
          <b>Symfony</b> is my go-to choice to build robust web app, micro-services, extensible backends, and RESTful
          API.
        </li>
        <li>
          <b>Angular</b> let me build reactive applications in no-time, ultra fast static websites, and reusable web
          components to use across UI.
        </li>
        <li>With <b>Kubernetes</b> on my virtual private servers, I'm ready to deploy in seconds!</li>
        <li>Once in a while, I execute <b>Ansible</b> to upgrade my servers safely. <em>Peace of mind!</em></li>
        <li><b>Neovim</b> let me do everything from the terminal. <em>Love it!</em></li>
      </ul>

      <p>
        Over <b>+19 years of experience</b>, I've jumped from <b>crafting logos</b> and <b>print design</b> to
        <b>animating 3D stuff</b> and <b>programming</b> in many languages.
      </p>
    </main>
  </article>
</main>
