<main class="page-prose about--container">
  <section class="presentation">
    <section class="second about text-left">
      <article class="presentation">
        <div class="pt-6 pb-0">
          <h3>
            <span i18n
              >With 18 years of experience serving clients and partners from small and large companies, both
              independently and as part of a team. <i>How can I assist you?</i></span
            >
          </h3>
          <h4>&dash; Gilles HOARAU ☺️ <small class="mono font-normal">Versatile creative developer.</small></h4>
        </div>
      </article>
    </section>

    <section class="third about">
      <article class="pt-2 pb-5">
        <p>
          <span i18n>I'm ready to take on any web development projects that come my way.</span>
        </p>
        <p>
          <span i18n
            >From 2021 to 2024, I led the charge on 2 amazing projects for Stellantis' customers: an AI-driven vehicle
            Search Engine and an Order Tracking module connected with the supply chain management system. I worked with
            teams from around the globe, exposing me to a world of different cultures and perspectives.</span
          >
        </p>
        <p>
          <span i18n>
            In 2015, I joined Groupe PSA’s Digital Factory and became a key player in facilitating Innovation committees
            and developing proof of concepts on the latest trends: Internet-Of-Things, Real-time 3D, Progressive Web
            Apps, Chatbots & Vocal Assistants.
          </span>
        </p>
        <p>
          <span i18n
            >Overall, I appreciated working with teams from around the world, exposing me to a wealth of different
            cultures and perspectives.</span
          >
        </p>
        <h4>The beginning</h4>
        <p>
          <span i18n
            >In 2006, I worked in an advertising agency that quickly became a powerhouse, thanks to a great creative
            director and some self-taught skills in producing media.</span
          >
        </p>
        <p>
          <span i18n
            >My journey began with writing a book on photo manipulation, edited by MicroApplication, which became a
            best-seller and sold around 20,000 copies.</span
          >
        </p>
        <h4>Special thanks</h4>
        <p>
          The leadership I encountered in a variety of experiences pushed me to grow and develop in ways I never thought
          possible.
        </p>
        <p>
          <span i18n>I give a special thanks to God ♥️ for blessing me with opportunities to excel in my career.</span>
        </p>
      </article>
    </section>
  </section>
  <section class="sidebar">
    <h3>Experiences</h3>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-secondary badge-sm badge-outline">Freelance</div>
      <div class="card-body">
        <h2 class="card-title">M&D GROUP // 2017 - 2025</h2>
        <p>
          🌝 Ongoing development and bug fixes for e-commerce sites, French subsidiary.
          <br />Catalog featuring over 50,000 products.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-accent badge-sm badge-outline">ALTEN Consultant</div>
      <div class="card-body">
        <h2 class="card-title">STELLANTIS // 2021-2024</h2>
        <p>
          🚗 Customer-focused Project Manager, European region.
          <br />Natural language vehicle search engine.<br />Multi-brand order tracking module.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-accent badge-sm badge-outline">ID APPS Consultant</div>
      <div class="card-body">
        <h2 class="card-title">GROUPE PSA // 2015-2021</h2>
        <p>
          🦄 Coordination and facilitation of Innovation committees.
          <br />Implemented POCs:<br />Peugeot Chatbot<br />Voice Assistant Saytroën <br />DS Automobiles 3D Web
          Configurator
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-tertiary badge-sm badge-outline">Partner</div>
      <div class="card-body">
        <h2 class="card-title">COMM. Agency // 2006-2014</h2>
        <p>
          👍 Needs analysis and strong creative proposals. Design of communication materials for Groupe éa agencies:
          Troyes and Reims.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-secondary badge-sm badge-outline">Freelance</div>
      <div class="card-body">
        <h2 class="card-title">PME & Associations // 2014 - 2024</h2>
        <p>
          🎨 Web development, online presence optimization, visual creation for: Champagne Bernard Robert, Champagne Y.
          Laval, Regina caeli (Cleaning and services), Compagnie du Loup Bleu (Theater), Saint Laurent Library,
          Champignol-lez-Mondeville (Municipality)
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-tertiary badge-sm badge-outline">Author</div>
      <div class="card-body">
        <h2 class="card-title">MICRO APP. // 2001-2002</h2>
        <p>
          📘 Writing the book Scan & Image Retouch.
          <br />Sold over 20,000 copies.
        </p>
      </div>
    </div>
  </section>
</main>
