<main class="page-prose">
  <section class="main home">
    <header class="hero-title">
      <h1 class="text-center" i18n>Profile</h1>
    </header>
    <article class="pt-6 pb-10 w-10/12 m-auto">
      <h2><span i18n>Your name: ...</span></h2>

      <input [(ngModel)]="newDisplayName" [value]="user?.displayName" placeholder="New Display Name" />
      <button (click)="updateProfile(newDisplayName)">Update Profile</button>
    </article>

    <article class="pt-6 pb-10 w-10/12 m-auto">
      <h2><span i18n>Logout</span></h2>

      <button (click)="logout()">Logout</button>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </article>
  </section>
</main>
