<main class="page-prose about--container prose lg:prose-xl pt-2 pb-5">
  <h1>Skills &amp; Tools</h1>

  <section class="max-w-12/12">
    <div class="mycard bg-base-100 w-full flex-col justify-start rounded shadow-md">
      <div class="mycard-body">
        <h3 class="mt-0">Technical Skills</h3>
        <ul class="list-disc pl-5">
          <li>
            <b>Rapid Prototyping</b>: Developing proof-of-concept applications in hours and production-ready solutions
            in days.
          </li>
          <li>
            <b>Full-Stack Web Development</b>: Building scalable, secure web applications and custom e-commerce
            platforms, including backoffice and reactive frontends.
          </li>
          <li>
            <b>Backend Development</b>: Building robust web apps, RESTful APIs, microservices, CLI commands, queue
            messenging.
          </li>
          <li>
            <b>DevOps & Deployment</b>: Ansible, Kubernetes for server management and container orchestration; Docker,
            CI/CD pipelines.
          </li>
          <li><b>Technical Writing</b>: Authored technical guide selling 20,000+ copies.</li>
        </ul>

        <h3>Tools & Technologies</h3>
        <ul class="list-disc pl-5">
          <li>
            <b>Frameworks & Libraries</b>: Symfony, Angular, Monorepo NX, Nest.js, Npm, WordPress, Python, Ansible,
            Kubernetes, Docker, Jenkins.
          </li>
          <li><b>Databases</b>: MySQL, PostgreSQL, MongoDB.</li>
          <li><b>Development Environment</b>: Neovim, PhpStorm, GitHub, MacOS, Linux/Unix, Bash.</li>
          <li><b>Graphic Design</b>: Photoshop, Indesign, Illustrator, Première.</li>
          <li><b>3D Modeling</b>: Blender, ThreeJS.</li>
        </ul>

        <h3>Soft Skills</h3>
        <ul class="list-disc pl-5">
          <li><b>Problem-Solving</b>: Translating business requirements into technical solutions.</li>
          <li><b>Project Management</b>: Leading cross-functional projects with measurable outcomes.</li>
          <li><b>Adaptability</b>: Mastering multiple languages and frameworks over 19 years.</li>
          <li><b>Collaboration</b>: Working with clients, teams, and stakeholders to deliver solutions.</li>
          <li><b>Creativity</b>: Applying design thinking to UI/UX, 3D visualization, and branding.</li>
          <li><b>Communication</b>: Creating clear, engaging documentation for diverse audiences.</li>
        </ul>
      </div>
    </div>
  </section>
</main>
