<main class="page-prose prose dark:prose-invert lg:prose-xl pt-2 pb-5">
  <section class="w-full max-w-12/12">
    <h1>Tools & Technologies</h1>
    <div class="mycard bg-base-100 w-full flex-col justify-start rounded shadow-md">
      <div class="mycard-body">
        <ul class="list-disc pl-5">
          <li>
            <b>Frameworks & Libraries</b>: Symfony, Angular, <del>Monorepo NX</del>, <del>Nest.js</del>, Tailwind CSS,
            Pnpm, Mercure Hub, Ansible, Kubernetes, Docker, <del>Jenkins</del>, <del>TeamCity</del>.
          </li>
          <li><b>Databases</b>: MySQL/MariaDB, PostgreSQL, MongoDB, Meilisearch.</li>
          <li>
            <b>Development Environment</b>: <del>PhpStorm</del>, Neovim, FrankenPHP, GitHub/GitLab, <del>MacOS</del>,
            Omarchy/ArchLinux.
          </li>
          <li><b>Graphic Design</b>: Figma, Photoshop, Indesign, Illustrator, Première.</li>
          <li><b>3D Modeling</b>: Blender, ThreeJS.</li>
        </ul>
      </div>
    </div>
  </section>
</main>
