<main class="page-prose prose dark:prose-invert lg:prose-xl pt-2 pb-5">
  <section class="w-full max-w-12/12">
    <h1>Tools & Technologies</h1>
    <div class="mycard bg-base-100 w-full flex-col justify-start rounded shadow-md">
      <div class="mycard-body">
        <ul class="list-disc pl-5">
          <li>
            <b>Frameworks & Libraries</b>: Symfony, Angular, Monorepo NX, Nest.js, Tailwind CSS, Npm, WordPress, Python,
            Ansible, Kubernetes, Docker, Jenkins, TeamCity.
          </li>
          <li><b>Databases</b>: MySQL, PostgreSQL, MongoDB.</li>
          <li><b>Development Environment</b>: Neovim, PhpStorm, GitHub, MacOS, Linux/Unix, Bash.</li>
          <li><b>Graphic Design</b>: Photoshop, Indesign, Illustrator, Première.</li>
          <li><b>3D Modeling</b>: Blender, ThreeJS.</li>
        </ul>
      </div>
    </div>
  </section>
</main>
