<main class="page-prose about--container prose lg:prose-xl pt-2 pb-5">
  <h1>My career so far</h1>

  <section class="sidebar">
    <h2 class="uppercase">Experience</h2>

    <!--<div class="mb-8 block w-full px-4">
      <a href="/about" class="contact-btn">Contact me to plan the future!</a>
    </div>-->

    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">M&amp;D GROUP // 2024 - 2025</h3>
        <p>
          👨🏻‍💻 <b>Full Stack Development</b> and <b>deployment</b> of e-commerce websites for two retail brands.<br />Catalogs
          featuring over 50,000 product references.<br />Total of more than 4,500 online orders per week.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">PSA / STELLANTIS // 2015-2024</h3>
        <p>
          🚀 <b>Development and Web Design</b>: applications, APIs, and POCs in PHP, JavaScript: Symfony, Angular,
          Nest.js.<br /><b>Infrastructure management</b> and automated CI/CD deployment on AWS, GCP, Azure.
        </p>
        <p>
          🦄 <b>Technological watch</b> and <b>POC development</b>: chatbots, voice assistants, real-time 3D.<br />
          Participation in the Group's <b>digital transformation</b>.
        </p>
        <p>
          🚗 <b>Development and maintenance</b> of a natural language vehicle search engine, chatbot type.<br />
          <b>Project and team management</b> for “E-commerce Order Tracking” on the European market.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">Freelance work // 2014 - 2015</h3>
        <p>
          🎨 <b>Web Development</b>, <b>SEO</b>, <b>Web Design</b>: Online shops Champagne Bernard Robert, Champagne Y.
          Laval, Regina Caeli Website, Blog Compagnie du Loup Bleu, Saint Laurent Library Website,
          Champignol-lez-Mondeville Logo.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">Communication Agency // 2006-2014</h3>
        <p>
          👍 <b>Web Developer</b>: WordPress and PrestaShop websites.<br />
          <b>Graphic Designer</b> for print publishing and social media.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">MICRO APPLICATION // 2001-2002</h3>
        <p>📘 <b>Authored the book</b>&nbsp; <u>Scan & Image Retouching</u>. Sold over 20,000 copies.</p>
      </div>
    </div>
  </section>

  <section class="sidebar">
    <h2>Volunteering</h2>
    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">Petits frères des pauvres // 5 years</h3>
        <p>
          🤗 <b>Support for individuals</b> at the end of life: active listening, presence, relaying, and coordination.
        </p>
      </div>
    </div>
    <div class="card bg-base-100 shadow-md">
      <div class="card-body">
        <h3 class="card-title">Emmaüs // 1 year</h3>
        <p>💻 <b>Teaching computer science</b> and digital tools to people in precarious situations.</p>
      </div>
    </div>
  </section>

  <section class="presentation">
    <section class="third about">
      <article class="">
        <!--<p i18n>
          <b>From 2021 to 2024</b>, I led the charge on 2 amazing projects for Stellantis' customers: an AI-driven
          vehicle Search Engine and an Order Tracking module for e-commerce platforms. I worked with teams from around
          the globe, connecting me with diverse cultures and perspectives.
        </p>
        <p i18n>
          <b>In 2015</b>, I joined Groupe PSA’s Digital Factory and became a key player in facilitating Innovation
          committees and developing proof of concepts on the latest trends: Internet-Of-Things, Real-time 3D,
          Progressive Web Apps, Chatbots & Vocal Assistants.
        </p>
        <h3>The beginning</h3>
        <p i18n>
          <b>In 2006</b>, I worked in an advertising agency that quickly became a powerhouse, thanks to a great creative
          director and self-taught skills in producing media.
        </p>
        <p i18n>
          <b>My first big win?</b> Writing <u>Scan & Retouche d'Images</u>, a book on photo manipulation for
          MicroApplication that sold ~20,000 copies.
        </p>
        <p i18n>
          <b>Before that</b>, I studied academic drawings, video montage and art history (but that's old news now).
        </p>-->
        <h3>Thank you!</h3>
        <p>
          The leadership I encountered in the variety of experiences pushed me to grow and develop in ways I never
          thought possible. Thank you everyone!
        </p>
        <p i18n>Special thanks to God without who nothing's possible!</p>
      </article>
    </section>
  </section>
</main>
