<main class="page-prose about--container">
  <section class="presentation">
    <section class="third about">
      <article class="pt-2 pb-5 prose lg:prose-xl">
        <h1>My career so far</h1>
        <p i18n>
          <b>From 2021 to 2024</b>, I led the charge on 2 amazing projects for Stellantis' customers: an AI-driven
          vehicle Search Engine and an Order Tracking module for e-commerce platforms. I worked with teams from around
          the globe, connecting me with diverse cultures and perspectives.
        </p>
        <p i18n>
          <b>In 2015</b>, I joined Groupe PSA’s Digital Factory and became a key player in facilitating Innovation
          committees and developing proof of concepts on the latest trends: Internet-Of-Things, Real-time 3D,
          Progressive Web Apps, Chatbots & Vocal Assistants.
        </p>
        <h2>The beginning</h2>
        <p i18n>
          <b>In 2006</b>, I worked in an advertising agency that quickly became a powerhouse, thanks to a great creative
          director and self-taught skills in producing media.
        </p>
        <p i18n>
          <b>My first big win?</b> Writing <u>Scan & Retouche d'Images</u>, a book on photo manipulation for
          MicroApplication that sold ~20,000 copies.
        </p>
        <p i18n>
          <b>Before that</b>, I studied academic drawings, video montage and art history (but that's old news now).
        </p>
        <h2>Special thanks</h2>
        <p>
          The leadership I encountered in a variety of experiences pushed me to grow and develop in ways I never thought
          possible. Thank you people!
        </p>
        <p i18n>
          Special thanks to God
          without who nothing's possible!
        </p>
      </article>
    </section>
  </section>
  <section class="sidebar">
    <h3>Experiences</h3>

    <div class="block mb-8 px-4 w-full">
      <a href="/about" class="contact-btn">Contact me to plan the future!</a>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge">Freelance</div>
      <div class="card-body">
        <h2 class="card-title">M&D GROUP // 2017 - 2025</h2>
        <p>👨🏻‍💻 Ongoing development and bug fixes for multiple e-commerce sites, French subsidiary.</p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-accent badge-sm badge-outline">Consultant</div>
      <div class="card-body">
        <h2 class="card-title">STELLANTIS // 2021-2024</h2>
        <p>
          🚗 Customer-focused Project Manager, European region. + Natural language vehicle search engine. + Multi-brand
          order tracking module.
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-accent badge-sm badge-outline">Consultant</div>
      <div class="card-body">
        <h2 class="card-title">GROUPE PSA // 2015-2021</h2>
        <p>
          🦄 Coordination and facilitation of Innovation committees. Implemented POCs: Peugeot Chatbot, Voice Assistant
          Saytroën, DS Automobiles 3D Web Configurator
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-tertiary badge-sm badge-outline">Partner</div>
      <div class="card-body">
        <h2 class="card-title">COMM. Agency // 2006-2014</h2>
        <p>👍 Needs analysis and strong creative proposals. Design of communication materials for businesses.</p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-secondary badge-sm badge-outline">Freelance</div>
      <div class="card-body">
        <h2 class="card-title">Long-term customers // 2014 - 2024</h2>
        <p>
          🎨 Web development, online presence optimization, visual creation for: Champagne Bernard Robert, Champagne Y.
          Laval, Regina caeli (Cleaning and services), Compagnie du Loup Bleu (Theater), Saint Laurent Library,
          Champignol-lez-Mondeville (Municipality)
        </p>
      </div>
    </div>

    <div class="card bg-base-100 shadow-md">
      <div class="badge badge-tertiary badge-sm badge-outline">Author</div>
      <div class="card-body">
        <h2 class="card-title">MICRO APP. // 2001-2002</h2>
        <p>
          📘 Writing the book Scan & Image Retouch.
          <br />Sold over 20,000 copies.
        </p>
      </div>
    </div>
  </section>
</main>
