@import 'tailwindcss';
@plugin '@tailwindcss/typography';

main.about--container {
  @apply grid grid-cols-9;

  .sidebar {
    @apply col-span-3;
    align-content: start;
  }

  .presentation {
    @apply col-span-6;
    align-items: start;
  }
}

section.sidebar {
  .card {
    @apply relative mb-8 w-full;
    background: var(--color-bkg-a50);
    backdrop-filter: blur(5px);

    .badge {
      @apply absolute top-[-10px] right-[10px] uppercase;
    }
  }

  .card-title {
    @apply mt-2 mb-0 py-0 text-base;
  }

  .card-body {
    @apply px-5 py-2;

    p {
      @apply m-0 pb-0 text-xs leading-relaxed;
    }
  }
}

.badge {
  @apply rounded-full border-1 px-2 py-1 text-xs text-blue-500 uppercase;
}

.contact-btn {
  @apply m-auto block w-full rounded-full bg-blue-500 p-4 text-center font-bold text-white no-underline hover:bg-blue-600;
}
