<main class="page-prose about--container prose lg:prose-xl pt-2 pb-5">
  <h1>Curriculum Vitae</h1>

  <section class="max-w-12/12">
    <!--<div class="mb-8 block w-full px-4">
      <a href="/about" class="contact-btn">Contact me to plan the future!</a>
    </div>-->
    <h3 class="text-right">Experience</h3>
    <div class="mycard bg-base-100 w-full flex-col justify-start rounded shadow-md">
      <div class="mycard-body">
        <h2 class="mt-0 flex items-baseline justify-between">
          <span>Freelance Full-Stack Developer & Web Designer</span>
          <span class="font-mono text-sm">2014&nbsp;/&nbsp;Present</span>
        </h2>
        <p>
          👨🏻‍💻 <b>Developed and hosted</b> responsive websites and e-commerce platforms using Symfony, Angular, and
          Node.js for clients primarily in Aube, France. Implemented <b>SEO-friendly designs</b> and
          <b>cloud-based hosting</b>
          solutions. Provided end-to-end project delivery, ensuring scalability, security, and user satisfaction.
        </p>

        <h2 class="flex items-baseline justify-between">
          <span>DevOps Engineer & Project Manager, Automotive Industry</span>
          <span class="font-mono text-sm">2015&nbsp;/&nbsp;2023</span>
        </h2>
        <p>
          🦄 <b>Designed and deployed</b>&nbsp; <abbr title="Proof of concept">POC</abbr> applications using
          <b>modern DevOps</b> practices. Transformed in production: a chatbot for the Peugeot 208; a real-time 3D
          viewer for Peugeot 2008 and DS9; and a natural language search engine for an internal e-commerce platform.
          Conducted <b>technological watch</b> and animated monthly Innovation Committees to the Digital Factory.
        </p>
        <p>🚗 Led the “E-commerce Order Tracking” project across the European market.</p>

        <h2 class="flex items-baseline justify-between">
          <span>Graphic Designer & Front-End Developer, Communication Agency</span>
          <span class="font-mono text-sm">2006&nbsp;/&nbsp;2014</span>
        </h2>
        <p>
          👍 <b>Created print and digital assets</b>, enhancing brand visibility. Developed front-end solutions for
          WordPress and PrestaShop websites, ensuring cross-browser compatibility and mobile responsiveness.
        </p>

        <h2 class="flex items-baseline justify-between">
          <span>Author, Publishing House</span> <span class="font-mono text-sm">2001</span>
        </h2>
        <p>
          📘 Authored <u>Scan & Image Retouching</u> (Micro Application), a technical guide on digital imaging, selling
          over 20,000 copies.
        </p>
      </div>
    </div>

    <h3 class="text-right">Volunteering</h3>
    <div class="mycard bg-base-100 w-full flex-col justify-start rounded shadow-md">
      <div class="mycard-body w-full">
        <h2 class="mt-0 flex items-baseline justify-between">
          <span>Petits frères des pauvres</span> <span class="font-mono text-sm">5 years</span>
        </h2>
        <p>🤗 <b>Support for individuals</b> at the end of life: active listening, presence, coordination.</p>

        <h2 class="flex items-baseline justify-between">
          <span>Emmaüs</span> <span class="font-mono text-sm">1 year</span>
        </h2>
        <p>💻 <b>Teaching computer usage</b> to help people find a job.</p>
      </div>
    </div>
  </section>

  <!--<section class="presentation">
    <section class="third about">
      <article class="">
        <p i18n>
          <b>From 2021 to 2024</b>, I led the charge on 2 amazing projects for Stellantis' customers: an AI-driven
          vehicle Search Engine and an Order Tracking module for e-commerce platforms. I worked with teams from around
          the globe, connecting me with diverse cultures and perspectives.
        </p>
        <p i18n>
          <b>In 2015</b>, I joined Groupe PSA’s Digital Factory and became a key player in facilitating Innovation
          committees and developing proof of concepts on the latest trends: Internet-Of-Things, Real-time 3D,
          Progressive Web Apps, Chatbots & Vocal Assistants.
        </p>
        <h3>The beginning</h3>
        <p i18n>
          <b>In 2006</b>, I worked in an advertising agency that quickly became a powerhouse, thanks to a great creative
          director and self-taught skills in producing media.
        </p>
        <p i18n>
          <b>My first big win?</b> Writing <u>Scan & Retouche d'Images</u>, a book on photo manipulation for
          MicroApplication that sold ~20,000 copies.
        </p>
        <p i18n>
          <b>Before that</b>, I studied academic drawings, video montage and art history (but that's old news now).
        </p>
        <h3>Thank you!</h3>
        <p>
          The leadership I encountered in the variety of experiences pushed me to grow and develop in ways I never
          thought possible. Thank you everyone!
        </p>
        <p i18n>Special thanks to God without who nothing's possible!</p>
      </article>
    </section>
  </section>-->
</main>
