<div class="search-page">
  <!--<app-search-input (search)="performSearch($event)" (inputChange)="onInputChange($event)"></app-search-input>-->
  <app-search-input (search)="performSearch($event)"></app-search-input>

  <!-- Your search results go here -->
  <div class="search-results">
    @defer (when searchResultsFormatted()) { @if (searchResultsFormatted(); as searchResults) { @if (noResultsFound()
    === true) {
    <div class="flex flex-col items-center justify-center">
      No results @defer (on timer(5s); prefetch on timer(3s)) {
      <gilles-nx-three-404></gilles-nx-three-404>
      } @error {
      <!-- nothing to do -->
      }
    </div>
    } @else {
    <div class="portfolio-items">
      @for (hit of searchResults; track hit.objectID; let i = $index) {
      <a
        (click)="selectItem(hit.slug, hit.postSlug)"
        class="portfolio-item"
        [href]="['/portfolio', 'item', hit.postSlug ?? hit.slug]"
        [routerLink]="['/portfolio', 'item', hit.postSlug ?? hit.slug]"
        animate.enter="enter-animation"
      >
        <figure>
          <span class="item-body">
            @if (hit.cloudinaryId) {
            <img
              [ngSrc]="hit.cloudinaryId"
              fill
              [priority]="i <= 4"
              placeholder
              sizes="(min-width: 66em) 33vw, (min-width: 44em) 50vw, 100vw"
              [alt]="hit.title"
              [title]="hit.title + ' / ' + hit.type + ' / ' + hit.status"
            />
            }
          </span>
          @if (hit.title || hit.description || hit.postTitle) {
          <figcaption class="prose dark:prose-invert mt-2">
            {{hit.postTitle || hit.title}} @if (hit.description) { - {{ apiService.stripTags(hit.description) }} }
          </figcaption>
          }
        </figure>
      </a>
      }
    </div>
    } } } @loading(minimum 200ms) {
    <div>Searching...</div>
    }
  </div>
</div>
