<div class="search-page">
  <!--<app-search-input (search)="performSearch($event)" (inputChange)="onInputChange($event)"></app-search-input>-->
  <app-search-input (search)="performSearch($event)"></app-search-input>

  <!-- Your search results go here -->
  <div class="search-results">
    <div class="portfolio-items">
      @defer (when searchResultsFormatted()) { @for (hit of searchResultsFormatted(); track hit.objectID; let i =
      $index) {
      <a
        (click)="selectItem(hit.slug)"
        class="portfolio-item"
        [href]="['/portfolio', 'item', hit.slug]"
        [routerLink]="['/portfolio', 'item', hit.slug]"
        animate.enter="enter-animation"
      >
        <figure>
          <span class="item-body">
            @if (hit.cloudinaryId) {
            <img
              [ngSrc]="hit.cloudinaryId"
              fill
              [priority]="i <= 4"
              placeholder
              sizes="(min-width: 66em) 33vw, (min-width: 44em) 50vw, 100vw"
              [alt]="hit.title"
              [title]="hit.title + ' / ' + hit.type + ' / ' + hit.status"
            />
            }
          </span>
          @if (hit.title || hit.description) {
          <figcaption class="prose dark:prose-invert mt-2">
            {{hit.title}} @if (hit.description) { - {{ apiService.stripTags(hit.description) }} }
          </figcaption>
          }
        </figure>
      </a>
      } } @loading(minimum 200ms) {
      <div>Searching...</div>
      }
    </div>
  </div>
</div>
