<main class="page-prose">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Login now!</h1>
        <p class="py-6">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti
          eaque aut repudiandae et a id nisi.
        </p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" placeholder="email" class="input input-bordered" required />
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" placeholder="password" class="input input-bordered" required />
            <label class="label">
              <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
            </label>
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <section class="main home">
    <header class="hero-title">
      <h1 class="text-center" i18n>Register</h1>
    </header>
    <article class="pt-6 pb-10 w-10/12 m-auto">
      <h2><span i18n>It's free!</span></h2>

      <form (ngSubmit)="register()" [formGroup]="registrationForm">
        <label>Email:</label>
        <input type="email" formControlName="email" />

        <label>Password:</label>
        <input type="password" formControlName="password" />

        <button type="submit">Register</button>
        <hr />
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </article>
  </section>
</main>
