<main class="relative block">
  <div class="portfolio-tv relative">
    <!-- Carousel wrapper with flex and transition -->
    <div class="relative flex h-[82vh] flex-col">
      @if (currentItems(); as item) { @if (item && item.cloudinaryId) {
      <!-- Each slide takes full width -->
      <div class="tv-wrapper">
        <a
          animate.enter="enter-animation"
          class="w-full"
          [href]="['/portfolio', 'item', item.slug]"
          [routerLink]="['/portfolio', 'item', item.slug]"
        >
          <figure class="m-0 flex h-full w-full flex-col items-center justify-center">
            @if (item.attachments && item.attachments.length > 1) {
            <span
              class="bg-primary text-dark-primary absolute right-3 bottom-3 z-20 flex h-7 w-7 items-center justify-center rounded-4xl"
              >{{item.attachments.length}}</span
            >
            }
            <span class="item-body relative flex h-full w-full grow items-center">
              @if (currentAttachments(); as attachments) { @if (attachments && attachments.length > 0 &&
              attachments.slice(0,1)) { @for (attachment of attachments.slice(0,1); track attachment["@id"]; let j =
              $index) { @if (attachment && attachment.cloudinaryId) {
              <img
                animate.enter="enter-animation-attachment"
                [ngSrc]="'cloud-coelis/prod/'+attachment.cloudinaryId"
                fill
                [priority]="j <= 4"
                placeholder
                sizes="(min-width: 66em) 33vw, (min-width: 44em) 50vw, 100vw"
                [alt]="item.title"
                [title]="item.title"
                class="object-contain"
              />
              }}}}
            </span>
            @if (item.description) {
            <figcaption class="prose dark:prose-invert mb-8 p-4 text-center">
              {{ apiService.stripTags(item.description) }}
            </figcaption>
            }
          </figure>
        </a>
      </div>
      } }
    </div>
  </div>

  @if (remoteUrl(); as url) {
  <div class="m-12 flex flex-col items-center justify-center text-center">
    <qrcode
      [qrdata]="url"
      [width]="256"
      [errorCorrectionLevel]="'M'"
      [colorDark]="'#274d74ff'"
      [colorLight]="'#ffffff'"
    ></qrcode>
    {{ url }}
  </div>
  }
</main>
